<div class="flex flex-col items-center min-h-screen px-4">
  <div class="flex items-center min-h-4/5">
    <h1 class="text-6xl text-gray-900 h-4/5 font-fertigo font-semibold">iBudget</h1>
  </div>
  <%= link_to "Log in",
  new_user_session_path,
  method: :get,
  class: "w-full bg-primary text-white p-4 text-center uppercase" %>
  <%= link_to "Sign up",
  new_user_registration_path,
  method: :get,
  class: "w-full p-4 text-center text-tertiary uppercase" %>
</div>
